.add-big {
  padding: 0.7rem;
  width: 100%;
  
  background-color: #ffffff;
  color: #808080;
  
  font-size: larger;
  
  border-radius: 50px;
  border: none;
}

.delete-small {
  background-color: #ffffff;
  color: black;
  border: none;
  font-size: small;
}
